<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Khodahafes</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="header">
    <div class="wrap">
      <img src="images/khodahafes.svg" alt="khodahafes">
      <div class="columns">
        <div>Andreas Trenker</div>
        <div>Photography<br>exhibition</div>
      </div>
    </div>
  </div>
  <div class="sub-header">
    <div class="wrap">
      <div class="columns">
        <div>
          Kunstraum Mitterhofer<br>Innichen-San Candido, Italy
        </div>
        <div>
          30.11.2019 <br>&mdash;<br> 31.01.2020
        </div>
      </div>
    </div>
  </div>

  <img src="images/18_web.jpg">

  <div class="wrap">
    <p>
      The photo exhibition <em>khodahafes</em> (Persian:
      See you again) by designer and documentary
      photographer Andreas Trenker portrays his
      journey through the Islamic Republic of Iran.
      Thereby he explores the country and critically
      examines his eurocentric perspective on a
      culture foreign to him. Which images were
      created beforehand in his mind? Which are
      constructed or a result of Western
      expectations towards a Muslim country?
      Which, on the other hand, are spontaneous
      and challenge clichés and prejudices? The
      answers to these questions also lie in the
      viewer's perspective. That is why the
      photographer decided to highlight the local
      narrative by having Iranians comment on his
      photo series. Their oral footnotes to the
      individual images and the bias of the
      Western view of their country can be found
      as a critical audio guide in the exhibition. In
      this way, Trenker opens up his role as a
      photographer for discussion and focuses on
       the dialogue between representation and
      Interaction: just subject.
    </p>
  </div>

  <div class="header u-border-top">
    <div class="wrap">
      <h2>Critical Audio Guide</h2>
    </div>
  </div>

  <div id="app">
    <div class="audio-container">
      <div v-for="column, columnIndex in images" class="audio-column">
        <div v-for="image in column">
          <div :class="'image image-' + image.size">
            <img :src="'images/' + image.index + '_web.jpg'">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <a href="mailto:andreas-trenker@hotmail.com">andreas-trenker@hotmail.com</a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
